.facts {
  h3 {
    font-family: $numberFont;
    @include type(6, $textColorA, 700, 0.9, center);
    @include mediaQ($laptop) {
      font-size: 4rem;
    }
  }
  &__content {
    max-width: 1170px;
    margin: auto;
  }

  &__card {
    padding: 0 60px;
    > div { //imgWrap
      width: 52%;
      margin: auto;
      @include mediaQ($tablet) {
         width: 35%;
      }
    }//imgWrap
    p {
        @include mediaQ($mobile) {
          width: 60%;
          margin: auto;
      }
    }
    //Card Media Query
    @include mediaQ($laptop) {
      padding: 0 50px;
    }
  }//card
}