// HEADER TYPOGRAPHY

.header__top-bar__nav a {
  @include type(1.3,$textColorA,300,5);
}

.header__slider h2 {
  @include type(8,$textColorA, 700, 0.8, left, true);
  span {
    @include type(false,$textContrast, 300);
    display: block;
  }
}
.header__slider p {
  @include type(2,$textColorA, 300, 1.5, left);
}

.header {
  // TOP BAR MENU AND LOGO
   &__top-bar {
    display: flex;
    &__h1 {
      width: 50%;
      @include mediaQ($mobile) {
        width: 60%;
      }
     img {
      display: block;
      margin: 30px auto 18px auto;
      width: 182px;
     }
    }
    // MAIN NAVIGATION
    &__nav {
      width: 50%;
      display: flex;
      position: relative;
      .fa-bars { //Hamberger icon
        display: none;
        @include mediaQ($mobile) {
          display: flex;
          align-items: center;
          font-size: 4rem;
          color: $textColorA;
          padding-right: 30px;
        }
      }
      ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
          @include mediaQ($mobile) {
            display: none;
            position: absolute;
            top: 126px;
            flex-direction: column;
            background-color:$contrastColorB;
            width: 150%; //Make sure this doesn't cause overflow on phone
            border-radius: 0 6px ;
          }
        }//ul
        @include mediaQ($mobile) {
          justify-content: center;
          width: 40%;
          background-color: $contrastColorA;
          &:hover { //start nav:hover
            ul {
            display: block;
            }
          }//:hover
        }//nav mediaQ
      } //__nav
    }//__top-bar

  // HEADER SLIDES
    &__slider {
    &__slide {

      display: flex;
      > div {
        flex: 1 1 0;
        // flex-grow: 1;
        // flex-shrink:0;
      }

    }//slide
    &__slide1 {
      display: grid;
      grid-template-rows:
        152fr
        87fr
        449fr
        112fr
        ;

      grid-template-columns:
        minmax(40px, 375fr)
        444px //text
        56px //overlap
        752px //phone image
        minmax(40px, 293fr)
        ;
      @include mediaQ($laptop) {
        grid-template-columns:
        minmax(40px, 375fr)
        //Scale down text and imagec cols  by 0.625
        278px //text
        56px //overlap
        470px //phone image
        minmax(40px, 293fr)
        ;
      }

      @include mediaQ($tablet) {
        //Switching to flex will also help with support since mobile browsers may not support grid.
        display: flex;
        flex-direction: column-reverse;
        padding: 50px;
      }

      &__left {
        grid-area: 3 / 2 / 4 / 4;
      }

      &__right { //PHONE IMAGE
          grid-area: 2 / 3 / 4 / 5;
      }

      h2, p {
        margin-top: 0;
      }

      h2 {
        @include mediaQ($laptop) {
          font-size: 5rem;
        }
        margin-bottom: 40px;
      }

      p {
        grid-area: 5 / 2 / 6 / 3;
        margin-bottom: 56px;
      }
    }//slide1
  }//slider
}//.header






