.header {
   &__top-bar {
    display: flex;
    &__h1 {
      width: 50%;
      text-align: center;
    }

    &__nav {
      width: 50%;
      display: flex;
        ul {
          display: flex;
          margin: 0;
          padding: 0;
          list-style: none;
        }//ul
      } //__nav
    }//__top-bar
  &__slider {
    &__slide {
      display: flex;
      > div {
        flex: 1 1 0;
        // flex-grow: 1;
        // flex-shrink:0;
      }

    }//slide
    &__slide1 {
      display: grid;
      grid-template-rows:
        152fr
        87fr
        449fr
        112fr
        ;

      grid-template-columns:
        minmax(40px, 375fr)
        444px //text
        56px //overlap
        752px //phone image
        minmax(40px, 293fr)
        ;
      @include mediaQ($laptop) {
        grid-template-columns:
        minmax(40px, 375fr)
        //Scale down text and imagec cols  by 0.625
        278px //text
        56px //overlap
        470px //phone image
        minmax(40px, 293fr)
        ;
      }

      @include mediaQ($tablet) {
        //Switching to flex will also help with support since mobile browsers may not support grid.
        display: flex;
        flex-direction: column-reverse;
        padding: 50px;
      }

      &__left {
        grid-area: 3 / 2 / 4 / 4;
      }

      &__right { //PHONE IMAGE
          grid-area: 2 / 3 / 4 / 5;
      }

      h2, p {
        margin-top: 0;
      }

      h2 {
        @include mediaQ($laptop) {
          font-size: 5rem;
        }
        margin-bottom: 40px;
      }

      p {
        grid-area: 5 / 2 / 6 / 3;
        margin-bottom: 56px;
      }
    }//slide1
  }//slider

}//.header

@media ($mobile) {
  .header__slider__slide {
    flex-direction: column-reverse;
    &__imgCol {
      transform: none;
      padding: 5%;
      div {
        // display: contents;
      }
    }
    &__content {
      p, h2 {
        width: 100%;
        margin: 0;
        padding: 5%;
      }
    }
  }
}




