// GLOBAL TYPOGRAPHY STYLES
//Order Of Typography Mixin Arguments:
//font-size, colour, font-weight, line-height, text-align, text-transform: uppercase


html {
  font-size: 62.5%;
}

body, a, h1, h2, h3, h4, h5, h6, input, textarea  {
  font-family: $mainFont;

}

a {
  text-decoration: none;
}

h2 {
  @include type(6, $textContrast, 300, 1, center, true);
  margin-top: 0;
  margin-bottom: 40px;
  @include mediaQ($tablet) {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  @include mediaQ($mobile) {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

section p {
  @include type(1.6, $textColorB, 300, 1.5, center);
  margin-top: 0;
}

section > p {
  @include type(2.4, $textColorB, 300, 1.5, center);
  max-width: 518px;
  width: 40%;
  margin: auto;
  padding-bottom: 36px;
  margin-bottom: 51px;
  position: relative;
  &::after {
    content: "";
    border-bottom: 1px solid $bgColorE ;
    width: 170px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 170px / 2);
  }
  @include mediaQ($tablet) {
    width: 60%;
  }


}

h3 {
  @include type(2.4,$textContrast, 700, 1.25, center);
  margin: 29px 0;

}

section > p, h3 {
  @include mediaQ($mobile) {
    font-size: 1.8rem;
  }
}

.button1 {
  @include type(1.2, $textColorA, 700, false, center, true);
  padding: 1.3em;
  border: 2px solid $textContrast;
}



//GLOBAL ELEMENT STYLES
img {
  width: 100%;
}

.wrapper {
  width: 70%;
  max-width: 1170px;
  margin: auto;
  @include mediaQ($laptop) {
    width: 80%;
  }
  @include mediaQ($tablet) {
    width: 90%;
  }
}

main {
  section, .facts {
    padding: 100px 0;
  }
}

//BUTTONS
a.button1 {
  transition: background-color 0.5s;
  &:hover {
    background: $contrastColorA;
  }
}

.button2 { //white text
  @extend .button1;
  color: $textContrast;
}

a.button2, input.button2 {
  transition: background-color 0.5s;
  &:hover {
    background: $contrastColorA;
    color: $textColorA;
  }
}

.button3 { //red button
  @extend .button1;
  color: $textAccent;
  border-color: $textAccent;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    background-color: $textAccent;
    color: $textContrast;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  .fab {
    color: $textContrast;
    margin: 0 10px;
    font-size: 1.8rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
    &:hover {
      transform: scale(1.2);
    }
  }

  .fa-facebook-f{
    background-color: #4f7dc0;
  }
  .fa-twitter{
    background-color: #00acf0;
  }
  .fa-pinterest-p{
    background-color: #cf191a;
  }
  .fa-dribbble{
    background-color: #f7679a;
  }
  .fa-flickr{
    background-color: #ff0085;
  }
  .fa-linkedin-in{
    background-color: #00649c;
  }

  .fa-google {
    background-color: #cc4234;
  }


}

//CSS TRIANGLES FOR BOTTOM OF SECTIONS
section, aside, .header__slider__slide1 {
  position: relative;
}

.triangle-split::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 39px 25px 0;
  border-color: transparent $accentColor1A transparent transparent;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 39px);
  z-index: 10;
}


  .triangle-split::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 39px 0 0;
  border-color: $accentColor1B transparent transparent transparent;
  position: absolute;
  bottom: -25px;
  left: 50%;
  z-index: 10;
}
