//HEADER

@media (max-width: 450px) {
  .header__slider__slide {
    flex-direction: column-reverse;
    &__imgCol {
      transform: none;
      padding: 5%;
      div {
        display: contents;
      }
    }
    &__content {
      p, h2 {
        width: 100%;
        margin: 0;
        padding: 5%;
      }
    }
  }

}

.wrapper {
  @include mediaQ($tablet) {
    width: 90%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;


  &--3cols {
    > div, > figure {
      flex: 1 0 26%;
      &:not(:last-child) {
        margin-right: 30px;
        @include mediaQ($mobile) {
          margin-bottom: 30px;
        }
      }
      @include mediaQ($mobile) {
        flex-basis: 90%;
      }
    }//>div, >figure
  div.card, figure.card {
    @include mediaQ($mobile){
      margin-right: 0;
    }
  }

  }//3cols
  &--4cols {
    > div, > figure {
      flex: 1 0 21%;
      &:not(:last-child) {
        margin-right: 30px;
        @include mediaQ($mobile) {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
      &:nth-child(2) { //remove margin from 2nd card
        @include mediaQ($tablet) {
          margin-right: 0;
        }
      }
      &:nth-child(-n+2) { //Select first two cards
        @include mediaQ($tablet) {
          margin-bottom: 30px;
        }
      }

      @include mediaQ($tablet) {
        flex-basis: 40%;
      }
      @include mediaQ($mobile) {
        flex-basis: 90%;
      }

    }
  }

}

.blog__content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns:1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  @include mediaQ($mobile) {
    grid-template-columns:1fr;
    grid-template-rows: auto;
  }
}

.blog__card {
  display: flex;
  @include mediaQ($mobile) {
    flex-direction: column;
  }
}

.blog__card:first-child {
  grid-row: span 2;
  flex-direction: column;
  @include mediaQ($mobile) {
    grid-row: span 1;
  }
}


