//Order Of Typography Mixin Arguments:
//font-size, colour, font-weight, line-height, text-align, text-transform: uppercase







.address {

  p {
    font-family: $numberFont;
    font-style: normal;
  }

  &__info__phone {
    @include type(4, $textContrast, 700, 1.4, center);
  }
  &__info__email {
    @include type(8, $textColorA, 700, 0.7, center);

  }
  &__info__street {
    @include type(3, $textColorB, 300, 1.8, center);
  }
}

.contact {
  input, textarea {
    @include type(1.6, $textColorB, 300, 1.9, center)
  }
  .button1 {
    color: $textContrast;
  }
}
