@import "setup";
@import "variables";
@import "mixins";
@import "global";
@import "typography";
@import "colors";



//components
@import "components/header";
@import "components/footer";


//responsive
@import "mediaQ";


/*

Naming conventions followed for this site:

Use BEM with the following modifications

--BEM classnames will be used for strucutral elements such as sections, asides, divs, etc.
  --Content elements like p, a, li, etc do not require BEM class names.
--There may be one level of unclassed div but not any nested unclassed divs,
  -e.g., a div used as an image wrap does not require a class.
--"media" will be used as a psuedo block class name for media queries.
  --e.g., media__four-col-container
          media__four-col-container__item

*/

//Guides

.guide {
  height: 100vh;
  width: 1px;
  background-color:#3dcfff;
  position:fixed;
  font-size: 9px;
  color: #3dcfff;
  display: none;
}
.guide:hover {

  font-size: 18px;
  color:red ;
  z-index: 20;

}

.guide1{
  left: 20%;

}
.guide2{
  left: 23%;

}
.guide3{
  left: 25%;

}
.guide4{
  left: 28%;

}
.guide5{
  left: 30%;

}
.guide6{
  left: 34%;

}
.guide7{
  left: 35%;

}
.guide8{
  left: 39%;

}
.guide9{
  left: 40%;

}
.guide10{
  left: 44%;

}
.guide11{
  left: 46%;

}
.guide12{
  left: 49%;

}
.guide13{
  left: 51%;

}
.guide14{
  left: 54%;

}
.guide15{
  left: 56%;

}
.guide16{
  left: 60%;

}
.guide17{
  left: 61%;

}
.guide18{
  left: 65%;

}
.guide19{
  left: 66%;

}
.guide20{
  left: 70%;

}
.guide21{
  left: 72%;

}
.guide22{
  left: 75%;

}
.guide23{
  left: 77%;

}
.guide24{
  left: 80%;

}
.guide25{
  left: 50%;
  background-color: red;
}